%p 4:44に「変態女子高専生緊縛カレープレイ」と自動的にツィートします
- if @username
  %p== Welcome, #{@username}.
  %ul
    %li
      %a{:href => '/me'} My Page
    %li
      %a{:href => '/'} New Game
    %li
      %a{:href => '/logout'} Logout
- else
  %ul
    %li
      %a{:href => '/user/new'} 使う
    %li
      %a{:href => 'https://twitter.com/#!/atmark1122'} 元ネタ
    %li
      %a{:href => 'https://twitter.com/#!/miminashi'} 作者
= '<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-lang="ja">ツイート</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>'

