!!!
%html
  %head
    %title 変態女子高専生緊縛カレープレイ
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/layout.css'}
  %body
    .wrap
      %h1
        %a{:href => '/'} 変態女子高専生緊縛カレープレイ
      - if flash[:notice]
        .notice
          %p= flash[:notice]
      - if flash[:error]
        .error
          %p= flash[:error]
      = yield
