body {
  background-image: url(http://twimg0-a.akamaihd.net/profile_images/1501570261/profile.png);
}

a {
  color: #0000ff;
}

.wrap {
  background-color: rgba(255,255,255,0.9);
  padding: 10px;
}

.notice {
  padding: 5px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: green;
}
.notice p {
  margin: 0px;
}

.error {
  padding: 5px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: red;
}
.error p {
  margin: 0px;
}
